In [1]:
import pandas as pd

In [2]:
# load dataset
df = pd.read_csv("dataset_fir.csv")

In [3]:
df

,case_id,summary,location,date_reported,lat,lon,status,closed_date,time_to_solve,case_status
0,1,Mary was robbed at gunpoint near Tapia Parkways.,Pune,2024-11-18,18.5204,73.8567,Open,NaN,189,Open
1,2,Keith had their phone snatched on Cooper Spring.,Bangalore,2024-12-29,12.9716,77.5946,Closed,2025-02-14,47,Closed
2,3,Dean was attacked with a knife at Swanson Plaza.,Jaipur,2024-10-25,26.9124,75.7873,Closed,2024-11-06,12,Closed
3,4,John saw a group vandalizing vehicles near Ern...,Pune,2024-06-04,18.5204,73.8567,Closed,2024-08-05,62,Closed
4,5,Alan faced an assault incident around Carney F...,Pune,2024-10-30,18.5204,73.8567,Open,NaN,208,Open
...,...,...,...,...,...,...,...,...,...,...
995,996,Amber was attacked with a knife at Hudson Corn...,Nagpur,2024-08-25,21.1458,79.0882,Open,NaN,274,Open
996,997,Carla faced an assault incident around Miller ...,Chennai,2025-04-29,13.0827,80.2707,Closed,2025-05-23,24,Closed
997,998,Kenneth faced an assault incident around Jessi...,Hyderabad,2025-04-09,17.3850,78.4867,Open,NaN,47,Open
998,999,Ian was robbed at gunpoint near Linda Lane.,Delhi,2024-06-28,28.6139,77.2090,Closed,2024-07-18,20,Closed
999,1000,Roger was robbed at gunpoint near Brenda Circle.,Pune,2024-09-19,18.5204,73.8567,Open,NaN,249,Open

In [4]:
# checking the null values

df.isnull().sum()

case_id            0
summary            0
location           0
date_reported      0
lat                0
lon                0
status             0
closed_date      503
time_to_solve      0
case_status        0
dtype: int64

In [5]:
# TF-IDF vectorization

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(df['summary'])

In [6]:
# save the model

import pickle

with open("tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(vectorizer, f)

with open("tfidf_matrix.pkl", "wb") as f:
    pickle.dump(tfidf_matrix, f)